#root > section {
    min-height: 100vh;
    
}
.App {
    padding: 0.5rem 1rem;
}

.App .greeting {
    padding-inline: 1rem;
    color: white;
}

#weather {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

#weather .today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.5rem 1.5rem;
    color: white;
}

.today .temp{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.today .temp p{
    font-size: 1.05rem;
    font-weight: 400;
}

.temp b{
    font-size: 4rem;
    font-weight: 300;
}

.today h1{
    font-weight: 500;
}

#weather .weather-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
}

.weather-info .weather-daily {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px !important;
    min-height: 270px;
    padding: 0.7rem 1rem;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.weather-daily .weather-img{
    width: 100px;
    margin-top: 1rem;
}

.weather-img img{
    width: 100%;
}

.weather-daily .temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}

.temp p{
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

.weather-daily .feels-like{
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
}

.search{
    max-width: 500px;
    width: 100%;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
}

.search input{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 1.05rem;
    font-weight: 300;
    color: white;
}

.search svg{
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}

.login{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(134deg, #3042a2, #4f2e89);
}

.login button{
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}